.name{
  color:white;
}

hr.star-black,
hr.star-black::after, 
hr.star-black::before{
  background-color:white;
  color:black;
  border-color:black;
  margin-bottom:15px;
}

.states{
  font-size:32px;
  padding-bottom:10px;
}

.safe{
  opacity:0.5;
}

#swap{
  padding-bottom:15px;
}

p{
  font-weight:100;
}

p b{
  font-weight:900;
  font-size:23px;
}

.btn-social{
  margin-top:0px;
}

.bump-over{
  padding-left:25px;
}

.rules p{
  padding-bottom:10px;
}

nav a{
  text-decoration:none;
}
